[submodule "drivers/amf/stable/tools/tests/StreamingSDKTests/jobs_launcher"]
	path = drivers/amf/stable/tools/tests/StreamingSDKTests/jobs_launcher
	url = https://github.com/luxteam/jobs_launcher.git
